.highScorer {
  background-color: yellow;
}

.col-md-3 {
  padding-left: 50px;
}

.player-img {
  height: 300px;
  width: auto;
}

.btn-xs {
  float: right;

}

.stat {
  float: left;
}

#nba-logo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.row {
  margin: 0 auto;
}
