<h2>{{this.name}}</h2>

<ul>

  {{#each player in this.players}}
      <li><div {{bind-attr class="highScorer:highScorer"}}>{{#link-to 'player' player.id}}{{player.name}}{{/link-to}}</div></li>
  {{/each}}
</ul>

<p>{{#link-to 'new-player' this.id class="btn btn=default"}}New Player{{/link-to}}</p>

{{outlet}}
